{% extends "layouts/layoutadmin.html.twig" %}

{% block breadcrumb %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>This is main title</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">This is</a>
                </li>
                <li class="active">
                    <strong>Dashboard</strong>
                </li>
            </ol>
        </div>

    </div>
{% endblock %}

{% block body %}


    <h3 class="font-bold">This is page Dashboard</h3>


{% endblock %}