{% extends "layouts/layoutadmin.html.twig" %}
{% block css %}
    <!-- FooTable -->
    <link href="{{ asset('css/plugins/footable/footable.core.css') }}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Liste Categories</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_dashboard') }}">Dashboard</a>
                </li>

                <li class="active">
                    <strong>Categories </strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Simple FooTable with pagination, sorting and filter</h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">

                    <table class="footable table table-stripped default footable-loaded" data-page-size="8" data-filter="#filter">
                        <thead>
                        <tr>
                            <th class="footable-visible footable-first-column footable-sortable">Rendering engine<span class="footable-sort-indicator"></span></th>
                            <th class="footable-visible footable-sortable">Browser<span class="footable-sort-indicator"></span></th>
                            <th data-hide="phone,tablet" class="footable-visible footable-sortable">Platform(s)<span class="footable-sort-indicator"></span></th>
                            <th data-hide="phone,tablet" class="footable-visible footable-sortable">Engine version<span class="footable-sort-indicator"></span></th>
                            <th data-hide="phone,tablet" class="footable-visible footable-last-column footable-sortable">CSS grade<span class="footable-sort-indicator"></span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX footable-even" style="">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Trident</td>
                            <td class="footable-visible">Internet
                                Explorer 4.0
                            </td>
                            <td class="footable-visible">Win 95+</td>
                            <td class="center footable-visible">4</td>
                            <td class="center footable-visible footable-last-column">X</td>
                        </tr>
                        <tr class="gradeC footable-odd" style="">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Trident</td>
                            <td class="footable-visible">Internet
                                Explorer 5.0
                            </td>
                            <td class="footable-visible">Win 95+</td>
                            <td class="center footable-visible">5</td>
                            <td class="center footable-visible footable-last-column">C</td>
                        </tr>
                        <tr class="gradeA footable-even" style="">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Trident</td>
                            <td class="footable-visible">Internet
                                Explorer 5.5
                            </td>
                            <td class="footable-visible">Win 95+</td>
                            <td class="center footable-visible">5.5</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-odd" style="">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Gecko</td>
                            <td class="footable-visible">Netscape Navigator 9</td>
                            <td class="footable-visible">Win 98+ / OSX.2+</td>
                            <td class="center footable-visible">1.8</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>

                        <tr class="gradeA footable-even" style="">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Webkit</td>
                            <td class="footable-visible">Safari 1.3</td>
                            <td class="footable-visible">OSX.3</td>
                            <td class="center footable-visible">312.8</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-odd" style="">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Webkit</td>
                            <td class="footable-visible">Safari 2.0</td>
                            <td class="footable-visible">OSX.4+</td>
                            <td class="center footable-visible">419.3</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-even" style="">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Webkit</td>
                            <td class="footable-visible">Safari 3.0</td>
                            <td class="footable-visible">OSX.4+</td>
                            <td class="center footable-visible">522.1</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-odd" style="">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Webkit</td>
                            <td class="footable-visible">OmniWeb 5.5</td>
                            <td class="footable-visible">OSX.4+</td>
                            <td class="center footable-visible">420</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-even" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Webkit</td>
                            <td class="footable-visible">iPod Touch / iPhone</td>
                            <td class="footable-visible">iPod</td>
                            <td class="center footable-visible">420.1</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-odd" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Webkit</td>
                            <td class="footable-visible">S60</td>
                            <td class="footable-visible">S60</td>
                            <td class="center footable-visible">413</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-even" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Presto</td>
                            <td class="footable-visible">Opera 7.0</td>
                            <td class="footable-visible">Win 95+ / OSX.1+</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-odd" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Presto</td>
                            <td class="footable-visible">Opera 7.5</td>
                            <td class="footable-visible">Win 95+ / OSX.2+</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-even" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Presto</td>
                            <td class="footable-visible">Opera 8.0</td>
                            <td class="footable-visible">Win 95+ / OSX.2+</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-odd" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Presto</td>
                            <td class="footable-visible">Opera 8.5</td>
                            <td class="footable-visible">Win 95+ / OSX.2+</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-even" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Presto</td>
                            <td class="footable-visible">Opera 9.0</td>
                            <td class="footable-visible">Win 95+ / OSX.3+</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-odd" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Presto</td>
                            <td class="footable-visible">Opera 9.2</td>
                            <td class="footable-visible">Win 88+ / OSX.3+</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-even" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Presto</td>
                            <td class="footable-visible">Opera 9.5</td>
                            <td class="footable-visible">Win 88+ / OSX.3+</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-odd" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Presto</td>
                            <td class="footable-visible">Opera for Wii</td>
                            <td class="footable-visible">Wii</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-even" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Presto</td>
                            <td class="footable-visible">Nokia N800</td>
                            <td class="footable-visible">N800</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-odd" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Presto</td>
                            <td class="footable-visible">Nintendo DS browser</td>
                            <td class="footable-visible">Nintendo DS</td>
                            <td class="center footable-visible">8.5</td>
                            <td class="center footable-visible footable-last-column">C/A<sup>1</sup></td>
                        </tr>
                        <tr class="gradeC footable-even" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>KHTML</td>
                            <td class="footable-visible">Konqureror 3.1</td>
                            <td class="footable-visible">KDE 3.1</td>
                            <td class="center footable-visible">3.1</td>
                            <td class="center footable-visible footable-last-column">C</td>
                        </tr>
                        <tr class="gradeA footable-odd" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>KHTML</td>
                            <td class="footable-visible">Konqureror 3.3</td>
                            <td class="footable-visible">KDE 3.3</td>
                            <td class="center footable-visible">3.3</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeA footable-even" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>KHTML</td>
                            <td class="footable-visible">Konqureror 3.5</td>
                            <td class="footable-visible">KDE 3.5</td>
                            <td class="center footable-visible">3.5</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeX footable-odd" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Tasman</td>
                            <td class="footable-visible">Internet Explorer 4.5</td>
                            <td class="footable-visible">Mac OS 8-9</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">X</td>
                        </tr>
                        <tr class="gradeC footable-even" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Tasman</td>
                            <td class="footable-visible">Internet Explorer 5.1</td>
                            <td class="footable-visible">Mac OS 7.6-9</td>
                            <td class="center footable-visible">1</td>
                            <td class="center footable-visible footable-last-column">C</td>
                        </tr>
                        <tr class="gradeC footable-odd" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Tasman</td>
                            <td class="footable-visible">Internet Explorer 5.2</td>
                            <td class="footable-visible">Mac OS 8-X</td>
                            <td class="center footable-visible">1</td>
                            <td class="center footable-visible footable-last-column">C</td>
                        </tr>
                        <tr class="gradeA footable-even" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Misc</td>
                            <td class="footable-visible">NetFront 3.1</td>
                            <td class="footable-visible">Embedded devices</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">C</td>
                        </tr>
                        <tr class="gradeA footable-odd" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Misc</td>
                            <td class="footable-visible">NetFront 3.4</td>
                            <td class="footable-visible">Embedded devices</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">A</td>
                        </tr>
                        <tr class="gradeX footable-even" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Misc</td>
                            <td class="footable-visible">Dillo 0.8</td>
                            <td class="footable-visible">Embedded devices</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">X</td>
                        </tr>
                        <tr class="gradeX footable-odd" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Misc</td>
                            <td class="footable-visible">Links</td>
                            <td class="footable-visible">Text only</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">X</td>
                        </tr>
                        <tr class="gradeX footable-even" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Misc</td>
                            <td class="footable-visible">Lynx</td>
                            <td class="footable-visible">Text only</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">X</td>
                        </tr>
                        <tr class="gradeC footable-odd" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Misc</td>
                            <td class="footable-visible">IE Mobile</td>
                            <td class="footable-visible">Windows Mobile 6</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">C</td>
                        </tr>
                        <tr class="gradeC footable-even" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Misc</td>
                            <td class="footable-visible">PSP browser</td>
                            <td class="footable-visible">PSP</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">C</td>
                        </tr>
                        <tr class="gradeU footable-odd" style="display: none;">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Other browsers</td>
                            <td class="footable-visible">All others</td>
                            <td class="footable-visible">-</td>
                            <td class="center footable-visible">-</td>
                            <td class="center footable-visible footable-last-column">U</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5" class="footable-visible">
                                <ul class="pagination pull-right"><li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li><li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li><li class="footable-page active"><a data-page="0" href="#">1</a></li><li class="footable-page"><a data-page="1" href="#">2</a></li><li class="footable-page"><a data-page="2" href="#">3</a></li><li class="footable-page"><a data-page="3" href="#">4</a></li><li class="footable-page"><a data-page="4" href="#">5</a></li><li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li><li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}


{% block javascript %}
    <!-- FooTable -->
    <script src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {


            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>

{% endblock %}